body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(31, 81, 41);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
}


